<div class="d-flex justify-content-center">
  <h2>Products list</h2>
</div>

<div class="container w-50 p-3">
<% @products.each do |product| %>
  <%= reender 'products/show', product: product %>
<% end  %>
</div>

<%= render 'baskets/show', basket: @basket %>